<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../assets/css/styles.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
        <title>Title</title>
    </head>
    <body>
        <div id="appTabs">
            <div id="tabs"></div>
            <div id="icons">
                <i class="fa-duotone fa-house"></i>
                <i class="fa-duotone fa-backward-step"></i>
                <i class="fa-duotone fa-forward-step"></i>
                <i class="fa-duotone fa-arrows-repeat"></i>
                <i class="fa-light fa-pipe"></i>
                <i class="fa-duotone fa-window-minimize"></i>
                <i class="fa-duotone fa-window-restore" style="display: none"></i>
                <i class="fa-duotone fa-window-maximize"></i>
                <i class="fa-duotone fa-xmark-large"></i>
            </div>
        </div>
        <div id="appViews"></div>

        <script>
            require('../app/tab')
        </script>
    </body>
</html>
